/* #region Common*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}


:root {
    --rl-white: #fefffe;
    --rl-black: #000000;
    --rl-dark: #333232;
    --rl-lightdark: #5b6f7f;
    --rl-primary: #9793e5;
    --rl-secondary: #0084fd;
    --rl-secondary-light: #b5ddff;
    --rl-accent: #fdc15f;
}

body {
    font-family: 'Ubuntu', sans-serif;
}

img {
    max-width: 100%;
}

/* #endregion Common*/

/* #region Utilities */

.container {
    max-width: 1152px;
    width: 80%;
    margin: auto;
    padding: 3rem 0;
}

/*rimangono fuori 24 e 24 pxl*/

.row {
    display: flex;
    flex-wrap: wrap;
}

.wrap {
    flex-wrap: wrap;
}

[class^='col-'] {
    padding: 1rem 1rem;
    border-radius: 1rem;
    margin-top: 2rem;
}


.col-4 {
    width: calc(100% / 12 * 4);
}

.col-6 {
    width: calc(100% / 12 * 6);
}

.col-8 {
    width: calc(100% / 12 * 8);
}

.col-12 {
    width: 100%;
}

.text-decoration-none {
    text-decoration: none;
}

.justify-content-between {
    justify-content: space-between;
}

.align-center {
    align-items: center;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.d-flex {
    display: flex;
}

.d-none {
    display: none;
}

.d-block {
    display: block;
}

.btn {
    background-color: var(--rl-white);
    color: var(--rl-black);
    padding: 0.7rem 1rem;
    border-radius: 25px;
}

.btn-lg {
    display: inline-block;
    background-color: var(--rl-white);
    color: var(--rl-black);
    padding: 0.8rem 3rem;
    border-radius: 25px;
}

/* #endregion Utilities */


/*************************************/
/************* MOBILE FIRST **********/
/*************************************/

/* #region #site_header */
#site_header {
    background-color: var(--rl-secondary);
    color: var(--rl-white);
}

#site_header a {
    color: var(--rl-white);
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
}

header nav>.mobile_menu {
    color: var(--rl-white);
}

header nav>.desktop_menu {
    display: none;
}

#site_header .logo,
#site_header .mobile_menu,
#site_header .desktop_menu {
    padding: 0.2rem 0;
    padding: 0.2rem 0;
}

/* #endregion #site_header */

/* #region #site_main */

/* #region #services */

#services .card {
    background-color: var(--rl-secondary-light);
    border-radius: 20px;
    padding: 0 2rem;
    height: 100%;
}

#services .card .card_text {
    font-weight: bold;
    color: var(--rl-white);
}

#services .card .card_text h2 {
    color: var(--rl-secondary);
    padding: 1rem 0;
}

#services .card .card_text p {
    margin-bottom: 2rem;
    color: var(--rl-lightdark);
}

#services .card .card_text a {
    color: var(--rl-white);
    background-color: var(--rl-secondary);
    letter-spacing: .15rem;
}

#services .card .card_img {
    text-align: center;
    padding-top: 2rem;
    line-height: 0;
    color: var(--rl-secondary);
}

#services .card>*:last-child {
    margin-top: 1rem;
}


/* #endregion #services */

/* #region #planning */

#planning {
    background-color: var(--rl-primary);
    position: relative;
}

#planning .left {
    color: var(--rl-white);
}


#planning .right .card {
    background-color: var(--rl-white);
    border-radius: 45px;
    text-align: center;
}

#planning .row {
    margin: 0 -2rem;
}

#planning [class^="col-"] {
    padding: 0 2rem;
}

#planning .card {
    height: 100%;
}

#planning .left .card h2 {
    padding-bottom: 5rem;
    font-size: 2.5rem;
}

#planning [class^="col-"].right {
    margin-top: 2rem;
}

#planning .right .card {
    padding: 2rem 1rem;
}

#planning .right .card h2 {
    padding: 1rem 0;
}

#planning .right .card p {
    font-style: italic;
}

#planning .freccia {
    background-color: var(--rl-primary);
    border-radius: 50%;
    margin-top: 2rem;
    padding: 2rem 1.5rem;
    color: var(--rl-black);
}



/* #endregion #planning */

/* #region #testimonials */

#testimonials {
    position: relative;
}

#testimonials .card_testimonial {
    background-color: var(--rl-primary);
    color: var(--rl-white);
    border-radius: 30px;
    padding: 2rem 2rem;
    margin: 1rem 0;
    height: 100%;
    display: flex;
    flex-direction: row;
}

#testimonials .container h5 {
    color: var(--rl-dark);
    font-weight: lighter;
    padding-top: 2rem;
    padding-bottom: 1.5rem;
}

#testimonials .container h2 {
    color: var(--rl-primary);
    padding-bottom: 2rem;
}

#testimonials .container p {
    color: var(--rl-lightdark);
    font-size:medium;
    padding-bottom: 2rem;
    line-height: 180%;

}

#testimonials .testimonial {
    font-size: larger;
    text-align:start;
    padding: 1rem 3rem;
}

#testimonials .card_text p {
    color: var(--rl-white);
    padding: 1rem 3rem;
    line-height: 200%;
    text-align: start;
}

#testimonials .card .card_text a {
    color: var(--rl-white);
    background-color: var(--rl-secondary);
    letter-spacing: .15rem;
}

#testimonials .card_testimonial img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    background-position: center;
    flex-shrink: 0;
}

#testimonials .card>*:last-child {
    margin-top: 1rem;
}

/* #endregion #testimonials */

/* #region #benefits */

#benefits {
    background-color: var(--rl-primary);
    position: relative;
}

#benefits .row {
    margin: 0 -1rem
}

.btn_bf {
    text-decoration: none;
    background-color: var(--rl-primary);
    color: var(--rl-white);
    font-size: 1rem;
    padding: 0.5rem 3rem;
    margin: 1.5rem 0;
    letter-spacing: 2px;
}

#benefits [class^="col-"] {
    padding: 1rem;
}

#benefits .container>h1 {
    color: var(--rl-white);
    font-size: 2rem;
    text-align: center;
    padding-bottom: 2.5rem;
    line-height: 130%;
}

#benefits .card {
    background-color: var(--rl-white);
    border-radius: 30px;
    padding: 2.5rem 2rem;
}

#benefits h1,
#benefits h2 {
    color: var(--rl-primary);
}

#benefits .card h1 {
    font-size: 3rem;
    padding-top: 1rem;
}

#benefits .card h2 {
    padding-top: 2rem;
}

#benefits .card p {
    padding: 1.5rem 0;
    color: var(--rl-dark);
}

#benefits .card .btn {
    letter-spacing: 3px;
}

/* #endregion #benefits */

/* #region about */

#about_us {
    position: relative;
}

#about_us .container {
    padding: 3rem 0;
}

#about_us .row {
    padding-top: 2rem;
}

#about_us h1,
#about_us h2 {
    color: var(--rl-primary);
}

#about_us h1 {
    display: inline-block;
    font-size: 5rem;
    padding-bottom: 3rem;
}

#about_us h2 {
    font-size: 1.5rem;
}

#about_us p {
    line-height: 210%;
    font-size: 1.1rem;
}

#about_us .profile {
    padding-top: 3.5rem;
    padding-bottom: 1.5rem;
}

#about_us .p-image {
    position: relative;
    background-image: url(../img/about.jpg);
    border-radius: 50%;
    aspect-ratio: 1/1;
    background-position: center;
    background-size: cover;
    background-color: aliceblue;
    margin-bottom: 1.5rem;
}

#about_us .p-image i {
    position: absolute;
    right: -15px;
    color: var(--rl-primary);
}

#about_us .profile h2 {
    margin-bottom: 1.5rem;
    line-height: 130%;
}

#about_us .btn {
    padding: 1rem;
    letter-spacing: normal;
}

#about_us .profile .btn i {
    margin-right: 5px;
}

/* #endregion about */

/* #region get_started */

#get_started {
    background-color: var(--rl-primary);
    position: relative;
}

#get_started h1 {
    font-size: 4rem;
    color: var(--rl-accent);
    padding: 2rem 0;
}

#get_started h4 {
    color: var(--rl-white);
    font-size: 1.75rem;
    line-height: 150%;
    padding: 1rem;
}

#get_started h5 {
    font-size: 1.15rem;
    font-weight: 100;
    color: rgba(255, 255, 255, 0.446);
    letter-spacing: 2px;
}

#get_started .claim {
    color: var(--rl-white);
    line-height: 170%;
    padding: 1rem;
}

#get_started .btn {
    text-decoration: none;
    color: var(--rl-primary);
    font-weight: bold;
    font-size: 1.2rem;
    margin: 1.5rem 0;
    letter-spacing: 2px;
}

#get_started .policies {
    line-height: 120%;
    font-size: 0.8rem;
    padding: 1rem;
    color: var(--rl-white)
}

#get_started .policies a {
    color: var(--rl-white);
}


/* #endregion get_started */

/* #region #site_footer */

#site_footer {
    background-color: var(--rl-dark);
    color: var(--rl-white);
}

#site_footer .container {
    padding: 2rem 0;
}

#site_footer .top {
    /* padding-bottom: 4rem; */
    padding-bottom: 3rem;
}

#site_footer .bottom a {
    color: var(--rl-primary);
}

/* #endregion #site_footer */

/* #endregion #site_main  */

/* Tablet media query */

@media screen and (min-width: 768px) {
    .d-md-none {
        display: none;
    }

    .d-md-block {
        display: block;
    }

    .col-md-4 {
        width: calc(100% / 12 * 4);
    }

    .col-md-6 {
        width: calc(100% / 12 * 6);
    }

    .col-md-8 {
        width: calc(100% / 12 * 8);
    }

    .col-md-12 {
        width: 100%;
    }

    .f-direction-row-md {
        flex-direction: row;
    }

    .f-direction-column {
        flex-direction: column;
    }
    
    

    #services .card .btn-lg {
        display: block;
        max-width: 50%;
        padding: .4rem 1.5rem;
    }

    #services .img-fluid {
        display: block;
        max-width: 100%;
    }

    #testimonials header{
        padding-bottom: 1.5rem;
    }

    #testimonials .card {
        padding: 0rem 1rem;
    }
    
    #testimonials .card .testimonial-text{
        padding: 1.5rem;
    }

    #testimonials header h1 {
        padding-top: 1rem;
    }

    #about_us h2 {
        font-size: 5rem;
        padding: 3rem 0;
    }
    

    #about_us p {
        padding: 2rem 4rem 2rem 0;
    }

    #get_started .container,
    #site_footer .container {
        max-width: 500px;
    }


}



/* Desktop media query */

@media screen and (min-width: 1200px) {

    #site_header .mobile_menu {
        display: none;
    }

    #site_header .desktop_menu {
        display: block;
    }

    #site_header a {
        color: var(--rl-white);
        margin-left: 2rem;
    }

    #site_header .desktop_menu a:last-child {
        background-color: var(--rl-white);
        color: var(--rl-black);
        text-align: center;
        padding: 0.35rem 1rem;
        border-radius: 15px;
    }

    #site_main #services .demo .card_img {
        align-self: end;
    }

    #site_main #services .demo .card_img img {
        display: inline-block;
        min-width: 60%;
    }

    .col-lg-6 {
        width: calc(100% / 12 * 6);
    }


    #planning .left img {
        padding-bottom: 10rem;
    }

    #planning .right {
        padding-top: 12rem;
    }

    #testimonials header h5,
    #testimonials p {
        font-size: 1.2rem;
    }

    #testimonials header h2 {
        font-size: 3rem;
    }

    
    #testimonials .img {
        width: 200px;
        height: 200px;
        margin: 2rem 3rem 2rem 1rem;
    }

    #about_us p {
        font-size: 1.2rem;
    }

    #about_us h2 {
        font-size: 2.5rem;
    }
}



/* #region Debug  */
.debug #site_header {
    height: 75px;
    background-color: lightblue;
}

.debug #site_main {
    height: 1500px;
    background-color: lightcoral;
}

.debug #services [class^='col-'] {
    background-color: lightgoldenrodyellow;
    height: 250px;
    border: 1px dashed midnightblue;
    padding: 1rem;
}

.debug #planning [class^='col-'] {
    background-color: lightgoldenrodyellow;
    border: 1px dashed midnightblue;
    padding: 1rem;
}

.debug .card {
    background-color: lightpink;
    height: 100%;
}

https: //media.giphy.com/media/v1.Y2lkPTc5MGI3NjExZnFqMWEwOGZoODZlNDd0aXZucDhieDl3aHJlMTZlcnBrcHB6ODBvdyZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/kmBe7ulPXY0KI/giphy.gif

.debug .card_text {
    background-color: burlywood;
    height: 100px;
}

.debug .card_img {
    background-color: violet;
    height: 100px;
}

.debug #about_us {
    height: 2000px;
    background-color: orangered;
}

.debug #about_us h2 {
    background-color: greenyellow;
    height: 100px;
}

.debug #about_us p {
    height: 900px;
    background-color: aquamarine;
}

.debug #get_started {
    height: 900px;
    background-color: papayawhip
}

.debug #site_footer {
    height: 150px;
    background-color: lightsalmon;
}


/* #endregion Debug */